    /*  Reset css */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*  commom */
    
    .clear {
        clear: both;
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;
        scroll-behavior: smooth;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    .row ::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .col {
        float: left;
        padding-right: 8px;
        padding-right: 8px;
    }
    
    .col-half {
        width: 50%;
    }
    
    .col-third {
        width: calc(100%/3);
    }
    
    .col-full {
        width: 100%;
    }
    
    .text-center {
        text-align: center !important;
    }
    
    .mt-8 {
        margin-top: 8px !important;
    }
    
    .mt-16 {
        margin-top: 16px !important;
    }
    /* 1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng */
    /* main */
    
    #main {
        margin: 0;
        padding: 0
    }
    
    #header {
        width: 100%;
        position: fixed;
        height: 46px;
        background-color: #000;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    #nav {
        display: inline-block;
    }
    
    .subnav {
        list-style: none;
    }
    
    #nav>li {
        display: inline-block;
        position: relative;
    }
    
    #nav>li:first-child {
        display: inline-block;
    }
    
    #nav>li>a {
        color: #fff;
        text-transform: uppercase;
    }
    
    #nav li:hover .subnav {
        display: block;
    }
    
    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: block;
    }
    
    #nav>li:hover>a,
    #nav .subnav li:hover a {
        color: #000;
        background-color: #ccc;
        display: block;
    }
    
    #nav .subnav {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        min-width: 160px;
        top: 100%;
    }
    
    #nav .subnav a {
        color: #000;
        padding: 0 12px;
        line-height: 38px;
    }
    
    #header .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    
    .mobile-menu-btn,
    .search-btn {
        float: right;
        top: 0;
        right: 0;
        padding: 0 21px;
    }
    
    .mobile-menu-btn:hover {
        background-color: #ccc;
    }
    
    .mobile-menu-btn:hover .menu-icon {
        color: #000;
    }
    
    .search-btn:hover {
        background-color: rgb(247, 9, 9) !important;
        cursor: pointer;
    }
    
    .menu-icon,
    #header .search-icon {
        color: rgb(255, 255, 255);
        line-height: 46px;
        font-size: 20px;
    }
    
    #slider {
        position: relative;
        padding-top: 50%;
        margin-top: 46px;
        background: url(/assets/img/slider1.jpg) top center/ cover no-repeat;
    }
    
    #slider .text-content {
        position: absolute;
        bottom: 47px;
        color: rgb(227, 233, 228);
        /* left: 50%;
    transform: translateX(-50%);*/
        width: 100%;
        text-align: center;
    }
    
    #slider .text-content .text-heading {
        font-weight: 500;
        font-size: 24px;
    }
    
    #slider .text-content .text-description {
        font-size: 15px;
        margin-top: 25px;
    }
    
    #content .content-section {
        width: 800px;
        padding-top: 64px;
        padding-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px
    }
    
    #content .content-section .section-heading {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-top: 40px;
        letter-spacing: 4px;
    }
    
    #content .content-section .section-subheading {
        font-size: 15px;
        text-align: center;
        margin-top: 25px;
        font-style: italic;
        opacity: 0.6;
    }
    
    #content .content-section .about-text {
        margin-top: 25px;
        text-align: justify;
        line-height: 1.4;
    }
    
    #content .member-list {
        margin-top: 48px;
    }
    
    #content .member-img {
        margin-top: 15px;
        width: 154px;
        border-radius: 4px;
    }
    
    #content .member-name {
        font-size: 15px;
    }
    
    .tour-section {
        background-color: rgb(0, 0, 0);
    }
    
    .textwhite {
        color: #fff !important;
    }
    
    .tickets-list {
        background-color: #fff;
        margin-top: 40px;
        list-style: none;
    }
    
    .tickets-list li {
        font-size: 15px;
        padding: 12px 16px;
        border-bottom: 1px solid #ddd;
        color: #757575;
    }
    
    .sold-out {
        background-color: rgb(247, 9, 9);
        margin-left: 16px;
        color: rgb(255, 255, 255);
        padding: 3px 4px;
    }
    
    .quatity {
        float: right;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        margin-top: -2px;
    }
    
    .places-list {
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
    .place-img {
        width: 100%;
        display: block;
    }
    
    .place-img:hover {
        opacity: 0.6;
    }
    
    .place-body {
        padding: 16px;
        background-color: #fff;
        font-size: 15px;
    }
    
    .place-heading {
        font-size: 15px;
        font-weight: 600;
    }
    
    .place-time {
        margin-top: 15px;
        color: #757575;
    }
    
    .place-desc {
        margin-top: 15px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    
    .btn {
        color: #fff;
        background-color: #000;
        text-decoration: #000;
        padding: 11px 16px;
        display: inline-block;
    }
    
    .btn:hover {
        color: #000;
        background-color: #ccc;
    }
    /* Tour section */
    
    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .modal-container {
        background-color: #fff;
        width: 900px;
        min-height: 200px;
        position: relative;
        animation: modalFadeIn ease .5s;
        -webkit-animation: modalFadeIn ease .5s;
    }
    
    .modal-header {
        background: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
    }
    
    .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        padding: 12px;
    }
    
    .modal-close:hover {
        opacity: 0.7;
        background-color: rgb(247, 9, 9);
    }
    
    .modal-body {
        padding: 16px;
    }
    
    .modal-label {
        display: block;
        font-size: 15px;
        margin-bottom: 12px;
        cursor: pointer;
    }
    
    .modal-input {
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
        font-size: 15px;
        margin-bottom: 24px;
    }
    
    #buy-tickets {
        background: #009688;
        border: none;
        width: 100%;
        font: size 15px;
        text-transform: uppercase;
        padding: 18px;
        cursor: pointer;
    }
    
    #buy-tickets:hover {
        opacity: 0.7;
    }
    
    .modal-footer {
        text-align: right;
        padding: 12px;
    }
    
    .modal-footer a {
        color: #2196F3;
        padding-left: 6px;
    }
    
    .open {
        display: flex;
    }
    
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY( -140px);
            -webkit-transform: translateY( -140px);
            -moz-transform: translateY( -140px);
            -ms-transform: translateY( -140px);
            -o-transform: translateY( -140px);
        }
        to {
            opacity: 1;
            transform: translateY( 0);
        }
    }
    
    .contact-content {
        margin-top: 48px;
    }
    
    .contact-info {
        font-size: 18px;
        line-height: 1.5;
    }
    
    .contact-info i[class *="fas"] {
        width: 30px;
        display: inline-block;
    }
    
    .contact-form {
        font-size: 15px;
    }
    
    .contact-form .form-control {
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
    }
    
    .send {
        float: right;
        width: 90px;
        text-align: center;
    }
    
    .map-section img {
        width: 100%;
    }
    
    #footer {
        padding: 64px 16px;
        text-align: center;
    }
    
    .social-list {
        font-size: 24px;
    }
    
    .social-list a {
        text-decoration: none;
        color: #333;
    }
    
    .copyright a:hover,
    .social-list a:hover {
        opacity: 0.7;
    }
    
    .copyright {
        margin-top: 15px;
        color: #000;
        opacity: 0.7;
    }
    
    .copyright a {
        color: #757575;
    }